
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite la lectura a cualquier usuario
    match /{allPaths=**} {
      allow read;
    }

    // Permite la escritura de archivos (crear, actualizar, borrar) solo a usuarios autenticados...
    match /{userId}/{allPaths=**} {
      allow write: if request.auth != null && 
                     // ...y solo en su propia carpeta de usuario (basado en el userId en la ruta del archivo).
                     request.auth.uid == userId;
    }
  }
}
